---
layout: aboutTemplate
title: About Me
---

{% include header.html %}
<link rel="stylesheet" href="/assets/css/about.css">
<div class="p-about">
    <div class="events_sec">
        <div class="content">
            <div class="events_list">
                <ul>
                    <li class="right_li">
                        <p class="txt_events">
                            <strong>
                                2014
                            </strong>
                            <span>这一年，工作经历，使用的技能，项目经验等等</span>
                    </li>
                    <li class="left_li">
                        <p class="txt_events">
                            <strong>
                                2015
                            </strong>
                            <span>这一年，工作经历，使用的技能，项目经验等等</span>
                        </p>
                    </li>
                    <li class="right_li">
                        <p class="txt_events">
                            <strong>
                                2016
                            </strong>
                            <span>这一年，工作经历，使用的技能，项目经验等等</span>
                        </p>
                    </li>
                    <li class="left_li">
                        <p class="txt_events">
                            <strong>
                                2017
                            </strong>
                            <span>这一年，工作经历，使用的技能，项目经验等等</span>
                        </p>
                    </li>
                    <li class="right_li">
                        <p class="txt_events">
                            <strong>
                                2018
                            </strong>
                            <span>这一年，工作经历，使用的技能，项目经验等等</span>
                        </p>
                    </li>
                    <li class="left_li">
                        <p class="txt_events">
                            <strong>
                                未来
                            </strong>
                            <span>这一年，工作经历，使用的技能，项目经验等等</span>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="assets/js/canvas-nest.min.js"></script>
{% include footer.html %}
