<link rel="stylesheet" href="/assets/css/bottomFixedBtn.min.css">
<div class="bottom-fixed-btn">
    <!-- 返回顶部 滑动百分比 -->
    <div class="back-to-top">
        <span class="iconfont icon-fanhuidingbu"></span>
        <span class="percent-section"><span class="scrollpercent"></span><span>%</span></span>
        <span class="b-tool-tip">返回顶部</span>
    </div>
    <!-- 切换昼夜模式 -->
    <div class="switch-daytime-mode">
        <span class="iconfont icon-baitianmoshimingliangmoshi"></span>
        <span class="iconfont icon-yejianmoshi"></span>
        <span class="b-tool-tip">切换模式</span>
    </div>
    <!-- 加我微信 -->
    <div class="add-me-wechat">
        <span class="iconfont icon-gongzhonghao1"></span>
        <span class="b-tool-tip">
            <img src="/assets/img/add_me_wechat.png" alt="add_me_wechat" />
            <span>扫码加我微信</span>
        </span>
    </div>
    <!-- 关注公众号 -->
    <div class="follow-official-account">
        <span class="iconfont icon-gongzhonghao"></span>
        <span class="b-tool-tip">
            <img src="/assets/img/official_account_qrcode.png" alt="add_me_wechat" />
            <span>扫码关注公众号</span>
        </span>
    </div>
</div>

<script src="/assets/js/util.js"></script>
<script src="/assets/js/bottomFixedBtn.min.js"></script>