<!--
 * @Descripttion: 
 * @version: 
 * @Author: liaolongdong
 * @Date: 2019-04-12 15:16:33
 * @LastEditors: liaolongdong
 * @LastEditTime: 2020-04-23 15:18:27
 -->
<head>
    {% include seoMeta.html %}
    <link rel="stylesheet" href="./css/base.min.css">
    <link rel="stylesheet" href="./css/index.min.css">
    {% include seoScript.html %}
    <!-- <script type="text/javascript" src="./lib/vconsole.min.js"></script>
    <script type="text/javascript">
        new window.VConsole();
    </script> -->
    <script src="/assets/js/cursor-effects.min.js"></script>
</head>
    