<head>
    {% include seoMeta.html %}
    <link rel="stylesheet" href="https://cdn.staticfile.org/normalize/6.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_271755_rdxzzo2kqwk.css">
    <link rel="stylesheet" href="/assets/css/github-markdown.css">
    <link rel="stylesheet" href="/assets/css/prism.css">
    <link rel="stylesheet" href="/assets/css/share.min.css">
    <link rel="stylesheet" href="/assets/css/app.min.css">
    {% include seoScript.html %}
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
</head>
