<!--
 * @Descripttion: 
 * @version: 
 * @Author: liaolongdong
 * @Date: 2019-04-12 15:16:33
 * @LastEditors: liaolongdong
 * @LastEditTime: 2020-04-23 15:01:54
 -->
<head>
    <meta name="base-url" content="{{ site.baseurl }}">
    <script>window.SITE_BASEURL = "{{ site.baseurl }}";</script>
    <link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
    {% include seoMeta.html %}
    <link rel="stylesheet" href="https://cdn.staticfile.org/normalize/6.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_271755_rdxzzo2kqwk.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/github-markdown.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/prism.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/share.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/index.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/iconFont/iconfont.css">
    {% include seoScript.html %}
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
</head>
