<head>
    {% include seoMeta.html %}
    <link rel="stylesheet" href="//cdn.staticfile.org/normalize/6.0.0/normalize.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_roc50gemkxpw4s4i.css">
    <link rel="stylesheet" href="/assets/css/github-markdown.min.css">
    <link rel="stylesheet" href="/assets/css/prism.min.css">
    <link rel="stylesheet" href="/assets/css/share.min.css">
    <link rel="stylesheet" href="/assets/css/index.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/iconFont/iconfont.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="/assets/js/post.min.js"></script>
    {% include seoScript.html %}
    
	{% if site.mathjax %}
	{% include mathjax.html %}
	{% endif %}
    {% include anchor.html %}
</head>
