<!--
 * @Descripttion: 
 * @version: 
 * @Author: liaolongdong
 * @Date: 2019-04-12 15:16:33
 * @LastEditors: liaolongdong
 * @LastEditTime: 2020-04-23 15:18:17
 -->
<head>
    {% include seoMeta.html %}
    <link rel="stylesheet" href="//cdn.staticfile.org/normalize/6.0.0/normalize.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_roc50gemkxpw4s4i.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/github-markdown.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/prism.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/share.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/index.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/iconFont/iconfont.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/post.min.js"></script>
    {% include seoScript.html %}
    
	{% if site.mathjax %}
	{% include mathjax.html %}
	{% endif %}
    {% include anchor.html %}
</head>
