// 逐帧动画相关样式

// 从右往左旋转动画
@keyframes rightToLeftRotate {
    0% {
        opacity: 0;
        transform: translateX(200%) rotateZ(720deg);
    }

    100% {
        transform: none;
    }
}

.rtlr-delay500 {
    animation:  rightToLeftRotate 1000ms ease-in 500ms both;
}

// 逐渐显示
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

// 从上往下渐入
@keyframes upToDownFade {
    0% {
        opacity: 0;
        transform: translateY(-200%);
    }

    100% {
        transform: none;
    }
}

// 从下往上渐入
@keyframes downToUpFade {
    0% {
        opacity: 0;
        transform: translateY(200%);
    }

    100% {
        transform: none;
    }
}

.utdf-delay0 {
    animation: upToDownFade 1000ms ease 0ms both;
}

.dtuf-delay0 {
    animation: downToUpFade 1000ms ease 0ms both;
}

// 从右往左渐入
@keyframes rightToLeftFade {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        transform: none;
    }
}

// 从左往右渐入
@keyframes leftToRightFade {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        transform: none;
    }
}

.rtlf-delay0 {
    animation: rightToLeftFade 500ms ease 0ms both;
}

.rtlf-delay500 {
    animation: rightToLeftFade 500ms ease 500ms both;
}

.ltrf-dalay0 {
    animation: leftToRightFade 500ms ease 0ms both;
}

.ltrf-dalay500 {
    animation: leftToRightFade 500ms ease 0ms both;
}

// 从右往左渐出
@keyframes rightToLeftLetter {
    0% {
        transform: translateX(10px);
    }

    100% {
        transform: none;
    }
}

.rfll-delay300 {
    animation:  rightToLeftLetter ease-in-out 300ms both;
}

// 由小到大缩放
@keyframes smallToBigZoom {
    0% {
        transform: scale(0);
    }

    100% {
        transform: none;
    }
}

// 由小到大再小再大缩放
@keyframes randomZoom {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }

    85% {
        transform: scale(1.5);
    }

    100% {
        transform: none;
    }
}

.stbz-delay0 {
    animation: smallToBigZoom 1000ms ease-in-out 0ms both;
}

.rz-delay0 {
    animation: randomZoom 1000ms ease-in-out 0ms both;
}

// 上下抖动动画
@keyframes upDownShake {
    0%, 18%, 45%, 72% {
        transform: translateY(0);
    }
    36% {
        transform: translateY(-10px);
    }
    54% {
        transform: translateY(-5px);
    }
    100% {
        transform: none;
    }
}

.am-shake {
    animation: upDownShake 1000ms ease 0ms both;
}