/* ------------------------ 摇一摇动画start ---------------------- */
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes tada {
    from {
        transform: scale3d(1, 1, 1);
    }

    10%,
    20% {
        transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -6deg);
    }

    30%,
    50%,
    70%,
    90% {
        transform: translateY(-200px) scale3d(1.4, 1.4, 1.4) rotate3d(0, 0, 1, 6deg);
    }

    40%,
    60%,
    80% {
        transform: translateY(-200px) scale3d(1.4, 1.4, 1.4) rotate3d(0, 0, 1, -6deg);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

.tada {
    animation-name: tada;
}

/* ------------------------ 摇一摇动画end ---------------------- */

.p-wx-shake {
    position: relative;
    width: 100%;
    max-width: 750px;
    height: 100vh;
    overflow: hidden;
    background-color: #e75045;
    background-image: url('../img/shake_bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    color: #fef699;

    .shake-img-section {
        text-align: center;

        img {
            margin-top: 440px;
            width: 620px;
            height: 710px;
        }
    }

    .shake-hand-mask {
        position: absolute;
        top: 1020px;
    }
}