* {
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    background-image: url("/assets/img/about_bg.png");
    // background-image: url("/assets/img/about_bg_default.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

@media screen and (max-width: 1000px) {
    body {
        background-image: none;
        background-color: #292929;
    }

    .pc-container {
        display: none !important;
    }

    .mobile-container {
        display: block !important;
    }
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.g-header {
    height: 58px;
}

.g-footer {
    border-top: none;
}

.p-about {
    .author-introduction {
        margin: auto;
        margin-top: 100px;
        margin-bottom: 40px;
        width: 1000px;
        text-align: center;
        font-size: 18px;
        text-shadow: 0 0 8px #1890ff;
        color: #fff;
        visibility: hidden;
    }

    @media screen and (max-width: 1000px) {
        .author-introduction {
            margin: auto;
            margin-top: 100px;
            margin-bottom: 40px;
            padding: 0 40px;
            width: 100%;
            text-align: center;
            color: #fff;
            visibility: hidden;
        }
    }

    // pc样式
    .pc-container {
        .content {
            margin: auto;
            width: 1000px;
            height: 100%;
        }

        .events_list .ic_time {
            display: block;
            background: url("/assets/img/about_events.png") no-repeat -428px -30px;
            width: 38px;
            height: 68px;
            margin: 0 auto;
        }

        .events_list .ic_arr {
            display: block;
            background: url("/assets/img/about_events.png") no-repeat -476px -38px;
            width: 38px;
            height: 59px;
            margin: 0 auto;
            position: relative;
            top: -14px;
        }

        .events_list ul {
            position: relative;
        }

        .events_list li {
            position: relative;
            height: 98px;
        }

        .events_list .ic_events {
            position: absolute;
            width: 51px;
            height: 98px;
            top: 0;
            overflow: hidden;
        }

        .events_list .txt_events {
            font-size: 16px;
            line-height: 1.5;
            color: #fff;
            position: absolute;
            white-space: nowrap;
            top: -12px;
            text-shadow: 0 0 8px #1890ff;
        }

        .events_list .txt_events strong {
            display: block;
            font-size: 30px;
            line-height: 34px;
            font-weight: 400;
        }

        .events_list .right_li {
            margin-left: 50%;
        }

        .events_list .right_li .ic_events {
            left: -7px;
            background: url("/assets/img/about_events.png") no-repeat -396px -116px;
        }

        .events_list .right_li .txt_events {
            left: 56px;
        }

        .events_list .left_li {
            text-align: right;
            width: 50%;
        }

        .events_list .left_li .ic_events {
            right: -7px;
        }

        .events_list .left_li .ic_events i {
            position: absolute;
            top: 0;
            right: 0;
            width: 51px;
            height: 98px;
            background: url("/assets/img/about_events.png") no-repeat -460px -116px;
        }

        .events_list .left_li .txt_events {
            right: 56px;
        }

        .events_list .ic_time {
            animation: enttime_effect 1s ease both;
            -webkit-animation: enttime_effect 1s ease both;
        }

        @keyframes enttime_effect {

            0%,
            18%,
            45%,
            72% {
                transform: translateY(0);
                height: 32px;
            }

            36% {
                transform: translateY(-10px);
                height: 32px;
            }

            54% {
                transform: translateY(-5px);
                height: 32px;
            }

            100% {
                height: 68px;
            }
        }

        .events_list li:nth-child(1) .ic_events {
            animation: entic_effect .8s 1s linear both;
            -webkit-animation: entic_effect .8s 1s linear both;
        }

        .events_list li:nth-child(2) .ic_events {
            animation: entic_effect .8s 1.8s linear both;
            -webkit-animation: entic_effect .8s 1.8s linear both;
        }

        .events_list li:nth-child(3) .ic_events {
            animation: entic_effect .8s 2.6s linear both;
            -webkit-animation: entic_effect .8s 2.6s linear both;
        }

        .events_list li:nth-child(4) .ic_events {
            animation: entic_effect .8s 3.4s linear both;
            -webkit-animation: entic_effect .8s 3.4s linear both;
        }

        .events_list li:nth-child(5) .ic_events {
            animation: entic_effect .8s 4.2s linear both;
            -webkit-animation: entic_effect .8s 4.2s linear both;
        }

        .events_list li:nth-child(6) .ic_events {
            animation: entic_effect .8s 5s linear both;
            -webkit-animation: entic_effect .8s 5s linear both;
        }

        @keyframes entic_effect {
            0% {
                width: 20px;
                height: 24px;
                opacity: 0;
            }

            40% {
                width: 20px;
                height: 24px;
                opacity: 1;
            }

            100% {
                width: 51px;
                height: 98px;
            }
        }

        .events_list li:nth-child(1) .txt_events {
            animation: enttxt_effect .8s 1s linear both;
            -webkit-animation: enttxt_effect .8s 1s linear both;
        }

        .events_list li:nth-child(2) .txt_events {
            animation: enttxt_effect .8s 1.8s linear both;
            -webkit-animation: enttxt_effect .8s 1.8s linear both;
        }

        .events_list li:nth-child(3) .txt_events {
            animation: enttxt_effect .8s 2.6s linear both;
            -webkit-animation: enttxt_effect .8s 2.6s linear both;
        }

        .events_list li:nth-child(4) .txt_events {
            animation: enttxt_effect .8s 3.4s linear both;
            -webkit-animation: enttxt_effect .8s 3.4s linear both;
        }

        .events_list li:nth-child(5) .txt_events {
            animation: enttxt_effect .8s 4.2s linear both;
            -webkit-animation: enttxt_effect .8s 4.2s linear both;
        }

        .events_list li:nth-child(6) .txt_events {
            animation: enttxt_effect .8s 5s linear both;
            -webkit-animation: enttxt_effect .8s 5s linear both;
        }

        @keyframes enttxt_effect {
            0% {
                transform: translateY(-10px);
                opacity: 0;
            }

            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }

        .events_list .ic_arr {
            animation: entarr_effect .6s 5.8s linear both;
            -webkit-animation: entarr_effect .6s 5.8s linear both;
        }

        @keyframes entarr_effect {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
    }

    // mobile
    .mobile-container {
        display: none;

        * {
            box-sizing: border-box;
        }

        .timeline {
            /* _wrapper.css */
            .wrapper {
                padding-left: 18px;
                padding-right: 18px;
                max-width: 1000px;
                margin-left: auto;
                margin-right: auto;
            }
    
    
            .timeline__item {
                margin-bottom: 100px;
                position: relative;
            }
    
            .timeline__item::after {
                content: "";
                clear: both;
                display: table;
            }
    
            .timeline__item:nth-child(2n) .timeline__item__content {
                float: right;
            }
    
            .timeline__item:nth-child(2n) .timeline__item__content::before {
                content: '';
                right: 40%;
            }
    
            @media (min-width: 800px) {
                .timeline__item:nth-child(2n) .timeline__item__content::before {
                    left: inherit;
                }
            }
    
            .timeline__item:nth-child(2n) .timeline__item__content__date {
                background-color: #b292c5;
            }
    
            .timeline__item:nth-child(2n) .timeline__item__content__description {
                color: #b292c5;
            }
    
            .timeline__item:last-child {
                margin-bottom: 0;
            }
    
            .timeline__item-bg {
                -webkit-transition: all 1s ease-out;
                transition: all 1s ease-out;
                color: #fff;
            }
    
            .timeline__item-bg:nth-child(2n) .timeline__item__station {
                background-color: #7646b5;
            }
    
            .timeline__item-bg:nth-child(2n) .timeline__item__content {
                background-color: #7646b5;
            }
    
            .timeline__item-bg:nth-child(2n) .timeline__item__content::before {
                background-color: #b292c5;
            }
    
            .timeline__item-bg:nth-child(2n) .timeline__item__content__description {
                color: #fff;
            }
    
            .timeline__item-bg .timeline__item__station {
                background-color: #0072e8;
            }
    
            .timeline__item-bg .timeline__item__content {
                background-color: #0072e8;
            }
    
            .timeline__item-bg .timeline__item__content::before {
                background-color: #65adb7;
            }
    
            .timeline__item-bg .timeline__item__content__description {
                color: #fff;
            }
    
            .timeline__item__station {
                background-color: #9aa0b9;
                width: 40px;
                height: 40px;
                position: absolute;
                border-radius: 50%;
                padding: 10px;
                top: 0;
                left: 10%;
                margin-left: -33px;
                border: 4px solid #8d94b1;
                -webkit-transition: all .3s ease-out;
                transition: all .3s ease-out;
            }
    
            @media (min-width: 800px) {
                .timeline__item__station {
                    left: 50%;
                    margin-left: -30px;
                    width: 60px;
                    height: 60px;
                    padding: 15px;
                    border-width: 6px;
                }
            }
    
            .timeline__item__content {
                width: 80%;
                background: #fff;
                padding: 20px 30px;
                border-radius: 6px;
                float: right;
                -webkit-transition: all .3s ease-out;
                transition: all .3s ease-out;
            }
    
            @media (min-width: 800px) {
                .timeline__item__content {
                    width: 40%;
                    float: inherit;
                    padding: 30px 40px;
                }
            }
    
            .timeline__item__content::before {
                content: '';
                position: absolute;
                left: 10%;
                background: #8d94b1;
                top: 20px;
                width: 10%;
                height: 4px;
                z-index: -1;
                -webkit-transition: all .3s ease-out;
                transition: all .3s ease-out;
            }
    
            @media (min-width: 800px) {
                .timeline__item__content::before {
                    left: 40%;
                    top: 30px;
                    height: 4px;
                    margin-top: -2px;
                }
            }
    
            .timeline__item__content__date {
                margin: 0;
                padding: 8px 12px;
                font-size: 15px;
                margin-bottom: 10px;
                background-color: #65adb7;
                color: #fff;
                display: inline-block;
                border-radius: 4px;
                border: 2px solid #fff;
            }
    
            .timeline__item__content__description {
                margin: 0;
                padding: 0;
                font-size: 16px;
                line-height: 1.5;
                font-weight: 300;
                color: #65adb7;
            }
    
            // @media (min-width: 800px) {
            //     .timeline__item__content__description {
            //         font-size: 19px;
            //         line-height: 28px;
            //     }
            // }
        }
    
        /* _timeline.css */
        .timeline {
            position: relative;
            margin: 30px auto;
            padding: 60px 0;
    
        }
    
        .timeline::before {
            content: "";
            position: absolute;
            top: 0;
            left: 10%;
            width: 4px;
            height: 100%;
            background-color: #8d94b1;
        }
    
        @media (min-width: 800px) {
            .timeline::before {
                left: 50%;
                margin-left: -2px;
            }
        }
    }
}